@model Frotend.ArchivoCentral.Micetur.Areas.Digitalizacion.Models.MicroformaGrabaModelView
@{
    Layout = null;
}

<link href="~/assets/css/Microforma/Formato.css" rel="stylesheet" />
<link href="~/assets/css/Microforma/Modals.css" rel="stylesheet" />
<script>
    $(function () {
        $('#Microforma_Revision_Evaluar').click(function () {
            if ($('#FrmEvaluarRevision').valid()) {
                Revision_Grabar();
            }
        });
        $('#MICROFORMA_FLG_CONFORME').change(function () {
            if ($(this).val() == 1) {
                $('#Adv_Conforme').show('slow');
            } else
                $('#Adv_Conforme').hide();
        });
    });
</script>

<div class="modal-dialogMicroforma">
    <div class="modal-content" style="width:100%;">
        <div class="modal-header" style="cursor: move; background-color: #ca2626">
            <div class="col-sm-14">
                <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title"><i class='clip-new-tab'></i>&nbsp; Revisión Periodica </h4>
            </div>
        </div>
        <div class="modal-body">
            <fieldset style="width: 100%;">
                <div class="row">
                    <div class="col-sm-12">
                            @*<p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Ingresar los siguientes datos: </p>*@
                            <fieldset style="width: 100%;">              
                                @using (Html.BeginForm("", "", new { @area = "" }, FormMethod.Post, false, new { @id = "FrmEvaluarRevision", @class = "form-horizontal" }))
                                {
                                    @Html.ValidationSummary(true)

                                    <div class="col-sm-12 inline-container-Group">
                                        <p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Evaluar: </p>
                                        <fieldset style="width: 100%;">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; color: black;">Conforme ?</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    @Html.DropDownListFor(model => model.MICROFORMA_FLG_CONFORME, Model.Lista_MICROFORMA_ID_CONFORME, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MICROFORMA_FLG_CONFORME, string.Empty, new { @class = "cssMessageError" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; color: black;">Observación:</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(model => model.MICROFORMA_OBSERVACION_EVALUAR, new { @class = "form-control", @maxlength = "1000", @style = "width:100%" })
                                                </div>
                                                <div class="col-sm-12" id="Adv_Conforme" style="display:none;">
                                                    <blockquote style="font-size:15px;">
                                                        <p>
                                                            <strong>Al seleccionar conforme</strong> usted acepta, que la
                                                            funcionalidad de los medios de soporte, Identificación y recuperación de imágenes,
                                                            Integridad, Legibilidad de Imagen/Impresión son correctos.
                                                        </p>
                                                    </blockquote>
                                                </div>

                                            </div>
                                        </fieldset>
                                    </div>
                                }
                            </fieldset>
                    </div>
                </div>
            </fieldset>
            <div class="modal-footer">
                <button type="button" id="Microforma_Revision_Evaluar" class="btn btn-blue"><i class="fa fa-save"></i> Evaluar Revisión</button>
                <button type="button" class="btn btn-light-grey" data-dismiss="modal"><i class="clip-close-4"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

