@model Frotend.Ventanilla.Micetur.Areas.Digitalizacion.Models.DocumentoValidarModelView
@{
    Layout = null;
}
<link href="~/assets/css/Microforma/Formato.css" rel="stylesheet" />
<link href="~/assets/css/Microforma/Modals.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        DocumentoAdjuntos_ConfigurarGrilla();
        DocumentoAdjuntos_CargarGrilla(@Model.ID_DOCUMENTO);
    });
    $('.modal-dialogValidar').draggable({
        handle: ".modal-header",
        cursor: "handler"
    });

</script>
@{
    var htmlLarge = new Dictionary<string, object> { { "style", "width:300px; font-family:verdana; font-size:.8em" } };
    var htmlShort = new Dictionary<string, object> { { "style", "width:100px; font-family:verdana; font-size:.8em" } };
}
@using (Html.BeginForm("", "", new { @area = "" }, FormMethod.Post, false, new { @class = "form-horizontal", @Role = "dialog" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-lg" style="margin:50px auto;">
        <div class="modal-content">
            <div class="modal-header" style="cursor: move; background-color: #ca2626">
                <div class="col-sm-14">
                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">× </button>
                    <h4 class="modal-title"><i class='clip-pictures'></i>&nbsp; Adjuntos del Expediente</h4>
                </div>
            </div>
            <div class="modal-body">
                <fieldset style="width: 100%;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12 inline-container-Group" style="margin-bottom:15px">
                                <p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Adjuntos: </p>
                                <div class="Documento_jqGrid">
                                    <table id="DocumentoAdjunto_grilla"></table>
                                    <div id="DocumentoAdjunto_barra"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-grey" data-dismiss="modal"><i class="clip-close-4"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("hd_Documento_Validar_ID_DOCUMENTO", Model.ID_DOCUMENTO)
    @Html.Hidden("hd_Documento_Validar_ID_DOCUMENTO_ASIGNADO", Model.ID_DOCUMENTO_ASIGNADO)
}



