@{
    ViewBag.Title = "Documento";
}
<link href="~/assets/css/Microforma/Formato.css" rel="stylesheet" />
<link href="~/assets/css/Microforma/Modals.css" rel="stylesheet" />
<link href="~/assets/css/Grilla.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/Switch_Toggle.css")" />
<script>
    $(document).ready(function () {
        $('#txtfechafin,#txtfechainicio').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            firstDay: 1,
            changeFirstDay: false,
            placeholder: "dd/MM/yyyy",
        }).datepicker("setDate", 'now');
    });
</script>
<div class="modal fade" id="myModalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="tab-content">
    <div id="panel_tab_directorio" class="tab-pane active">
        <div class="col-sm-12 inline-container-Group" style=" margin-bottom: 10px;">
            <p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Criterios de búsqueda: </p>
            <fieldset style="width: 100%;">
                <div class="row">
                    <div class="col-sm-5">
                        <fieldset style="width:100%; display:block;  margin-left: 2px;margin-right: 2px;padding-top: 0.35em;padding-bottom: 0.625em;padding-left: 0.75em;padding-right: 0.75em;border: 1px groove;">
                            <legend style="font-size:small;display:block">Fecha de registro en Mesa de Partes</legend>
                            <label>Fecha inicio :</label>
                            <input class="form-control" id="txtfechainicio" type="text" maxlength="13">
                            <label>Fecha fin :</label>
                            <input class="form-control" id="txtfechafin" name="txtfechafin" type="text" maxlength="13">
                        </fieldset>
                    </div>
                    <div class="col-sm-3">
                        <button id="cons_btn_buscar" class="btn btn-blue" type="button"><i class="clip-search"></i>&nbsp Buscar</button>
                        <button id="cons_btn_limpiar" class="btn btn-grey" type="button"><i class="clip-undo"></i>&nbsp Limpiar</button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <br />
            <br />
            <div class="col-sm-7">
            </div>
            <div class="col-sm-12" style="margin-top: 10px">
                <div class="Documento_jqGrid">
                    <table id="Documento_Grilla"></table>
                    <div id="Documento_Barra"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/js/Remove.js")" defer type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/Consulta/Documento.js")"></script>
