
.modal-dialogValidar {
    width: 1308px;
    margin: 30px auto;
}

.modal-dialogDocObs {
    width: 650px;
    margin: 30px auto;
}

.modal-dialogMicroforma {
    width: 650px;
    margin: 30px auto;
}

.modal-dialogDocProceso {
    width: 850px;
    margin: 30px auto;
}

@media (min-width: 0px) and (max-width: 916px) {
    .modal-dialogDocObs {
        width: 90%;
        margin: 30px auto;
    }
}

@media (min-width: 0px) and (max-width: 1240px) {
    .modal-dialogValidar {
        width: 90%;
        margin: 30px auto;
    }
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group-append {
    margin-left: -1px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}